<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ErrorLog" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="ComplusSetting" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <add key="UseCOM" value="true"/>
    <add key="strKey" value="Ar@v017"/>
    <add key="strTimeOut" value="90000000"/>
    <add key="SQLConnectionString" value="Data Source=192.168.10.201;Initial Catalog=AVANTIK_EDW_PROD_230521;Persist Security Info=False;User ID=sa;Password=password"/>
    <add key="RESTURL" value="https://localhost:7021/"/>
  </appSettings>
  <ComplusSetting>
    <add key="ComServer" value=""/>
    <add key="ComUser" value=""/>
    <add key="ComPassword" value=""/>
    <add key="ComDomain" value=""/>
  </ComplusSetting>
  <!--Cofiguration for Error email log-->
 <ErrorLog>
    <add key="application" value="Web Service"/>
    <add key="airline" value="EDW"/>
    <add key="logtype" value="MAIL"/>
    <add key="SmtpServer" value="mail.tikaero.com"/>
    <add key="ErrorTo" value="web.errors@bravo.aero"/>
    <add key="LogPath" value="C:\apilog"/>
    <add key="dllPath" value="C:\DLLs"/>
 </ErrorLog>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="Custom.WSHTTPBinding.Configuration" maxBufferPoolSize="655360" maxReceivedMessageSize="655360">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="PassengerSpecialServiceBehaviors" name="Avantik.Web.Service.PassengerSpecialService">
        <endpoint address="" 
                  binding="wsHttpBinding" 
                  contract="Avantik.Web.Service.Contracts.IPassengerSpecialService" 
                  bindingConfiguration="Custom.WSHTTPBinding.Configuration">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PassengerSpecialServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>